/**Overrides Bootstrap */
.wrapper{
    width: 980px;
    margin: 0 auto;
}

#dashboard-main{
    background: #f2f2f2;
    min-height: 500px;
}

#dashboard-side{
    background: #f2f2f2;
    min-height: 500px;
}


/**Generic stuff */

.hide{
    display: none;
}
